/*  your css code here. If applicable */
*{
	background-color:#f8f8f8;
}

h1{
	text-align:center;
}

h2{
	text-align:center
}

.image1{
	width:100px;
	height:150px;
	margin-left:95px;
	}

.image2{
	width:100px;
	height:150px;
	}

.image3{
	width:100px;
	height:150px;
	}

.author{
	color:#777777;
	text-align:center;
}

.price{
	width:300px;
	height:20px;
	background-color:#2ecc71;
	text-align:center;
	
}


.book-library{
	width:300px;
	height:800px;
	background-color:#ffffff;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
}
	
.book{
	padding-top:10px;
}



